<div style="margin-top:70px; margin-left:180px;"><p><a href="http://minkoff.webfactional.com/oscars/actors/">Home</a> | <a href="http://minkoff.webfactional.com/oscars/actors/browse_name.html">Browse actors by name</a> | <a href="http://minkoff.webfactional.com/oscars/actors/browse_age.html">Browse actors by ages when award won </a></div>

<div style="margin-top:40px; margin-left:180px;"><h2>Browse actors who won Academy Awards from 1990-2008 when they were...</h2>

	<ul>
		<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_10.html">children</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_20.html">in their 20s</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_30.html">in their 30s</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_40.html">in their 40s</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_50.html">in their 50s</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_60.html">in their 60s</a></li><br/>
<li><a href="http://minkoff.webfactional.com/oscars/actors/decade_70.html">in their 70s</a></li>
</ol>
</li>
</div>